@import 'react-date-range/dist/styles.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .custom-bg {
        background-color: #6777ef;
        color: #ffff;
    }

    .warna {
        background-color: #6777ef;
    }
}
